@model IEnumerable<CompanyOfferModel>
@if (TempData["message"] is string message)
{
    <p>@message</p>
    <p>
        Anasayfaya Dönmek için <a href="@Url.Action("Index","Home")">Tıklayınız.</a>
    </p>
}
<partial name="~/Views/Shared/DisplayTemplates/CompanyOfferList.cshtml" model="Model" />
